<component name="ArtifactManager">
  <artifact type="war" name="mybatis_demo_mmall:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="mybatis-demo-mmall.war">
      <element id="artifact" artifact-name="mybatis_demo_mmall:war exploded" />
    </root>
  </artifact>
</component>